<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901914901136-17vstao9b4n8gbb0guvovdokof9ftuiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901914901136-17vstao9b4n8gbb0guvovdokof9ftuiv</string>
	<key>API_KEY</key>
	<string>AIzaSyBQPn-7rmT5tPmDc8007yLJ8sSjI03_Ug0</string>
	<key>GCM_SENDER_ID</key>
	<string>901914901136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PBX</string>
	<key>PROJECT_ID</key>
	<string>pxb-patient-xperience-boost</string>
	<key>STORAGE_BUCKET</key>
	<string>pxb-patient-xperience-boost.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901914901136:ios:2c2988db01d86f46287615</string>
</dict>
</plist>